{% extends "base.html.twig" %}


{% block title %} Actor {% endblock %}

{% block head %}
<style>
.card {
    opacity: 0;
   
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.card.load {
    opacity: 1;
}
</style>
{% endblock %}

{% block content %}
<p class="lead">Listes des Acteurs : </p> 
{% for acteur in acteurs %}
<div class="card w-25 text-center shadow p-4 mb-4 ">
{{acteur.firstName}}
{{acteur.lastName}}
</div>
{% endfor %}
{% endblock %}


{% block lien %}
<a class='btn btn-secondary p-1 m-1' href="/php/MVCObjet/directors">liste des directeurs</a>
{% endblock %}


{% block test %}
<script>
    $(function() {
        $(".card").addClass("load");
    });
    
</script>
{% endblock %}